
@{
    ViewBag.Title = "FrontMore";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<style>
    #more {
        width: 70%;
        height: 580px;
        background-color: aliceblue;
        border-radius: 5px;
        margin: 20px 15%;
    }
    #more h2 {
        margin-left: 35%;
    }
</style>

<div id="more">
    <div style="height:220px;"></div>
    <h2>该功能正在开发中......</h2>
</div>