
@{
    ViewBag.Title = "FrontAbout";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

<style>
    #about {
        width: 70%;
        height: 580px;
        background-color: aliceblue;
        border-radius: 5px;
        margin: 20px 15%;
    }
    #aboutinfo {
        width: 90%;
        height: 570px;
        margin-left: 5%;
    }
    #aboutinfo p {
        display: block;
        width: 100%;
        font-weight: bold;
        font-size: 17px;
        text-indent: 1em;
    }
    #aboutinfo ul {
        list-style: none;
    }
    #aboutinfo ul li {
        text-indent: 1em;
    }
</style>

<div id="about">
    <div style="width:100%;height:10px;"></div>
    <div id="aboutinfo">
        <p>一、CatW简介</p>
        <ul>
            <li>
                简介：小本制作，诚信经营，可靠，可应用于人力资源员工的管理。
            </li>
        </ul>
        <p>二、信息反馈</p>
        <ul>
            <li>
                1、员工可发送信息给管理员，给予回复。
            </li>
            <li>
                2、员工可通过信息参与集体培训、进行部门的更换、以及离职。
            </li>
        </ul>
        <p>三、考勤--薪资--奖惩--培训</p>
        <ul>
            <li>
                1、员工可参与考勤，每日8:00开始打卡，不结束打卡时间，不可补打，下班时间固定每日22:00，可提前至19:00下班，不违反协议情况下，自行安排，会进行信息记录。
            </li>
            <li>
                2、薪资日结，部门费统一月底处理。
            </li>
            <li>
                3、会根据在职情况进行员工的每日活动记录，做的好的给予奖励，不好的地方给予惩罚，引以规范。
            </li>
            <li>
                4、员工可参与发布的培训或集体上批进行一个培训，
            </li>
        </ul>
        <p>四、寄语</p>
        <ul>
            <li>
                1、厚积薄发，互利共赢。
            </li>
            <li>
                2、学会约束自己，做好自己，互帮互助。
            </li>
        </ul>
    </div>
</div>