
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CatW人力资源管理--登录</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        body {
            margin: 0px;
            padding: 0px;
            list-style-type: none;
            background-color: aliceblue;
        }
        h2 {
            font-family: "楷体";
            font-weight: bold;
            text-align: center;
            margin-top: 140px;
        }
        #form1 {
            width: 40%;
            height: 360px;
            border-radius: 8px;
            position: absolute;
            top: 180px;
            left: 30%;
            background-color: honeydew;
            box-shadow: 3px 3px 10px gray;
        }
        .form-text {
            text-align: center;
            line-height: 40px;
        }
        .short {
            margin-top: 80px;
        }
    </style>
</head>
<body>
    <h2>CatW人力资源管理系统</h2>
    <div id="form1">
        <p class="short"></p>
        <div class="form-inline form-group form-text">
            管理：
            <input type="text" class="form-control" onfocus="LoginNamefocus()" maxlength="10" name="LoginName" placeholder="管理员名称">
        </div>
        <p class="LoginNameTips" style="color:red;text-align:center;"></p>
        <div class="form-inline form-group form-text">
            密码：
            <input type="password" class="form-control" onfocus="LoginPwdfocus()" maxlength="10" name="LoginPwd" placeholder="管理员密码">
        </div>
        <p class="LoginPwdTips" style="color: red;text-align: center;"></p>
        <p class="twoTips" style="color:red;text-align:center;"></p>
        <div class="form-group form-text">
            <a href="#" onclick="checkValiad()" class="btn btn-info">登&nbsp;&nbsp;&nbsp;&nbsp;录</a>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>

<script type="text/javascript">
    function checkValiad() {
        $.ajax({
            url: "/AdminT/Index",
            type: "post",
            data: { "LoginName": $("input[name='LoginName']").val(), "LoginPwd": $("input[name='LoginPwd']").val() },
            success: function (data) {
                if (data == "false") {
                    $(".LoginNameTips").html("用户名为空！");
                    $(".LoginPwdTips").html("密码为空！");
                }
                if (data == "LoginNamefalse") {
                    $(".LoginNameTips").html("用户名为空！");
                }
                if (data == "LoginPwdfalse") {
                    $(".LoginPwdTips").html("密码为空！");
                }
                if (data == "false1") {
                    $(".twoTips").html("用户名或密码错误！");
                }
                if (data == "true") {
                    window.location.href = "/SystemManage/BgHome";
                }
            }
        })
    }

    function LoginNamefocus() {
        $(".LoginNameTips").html("");
        $(".twoTips").html("");
    }

    function LoginPwdfocus() {
        $(".LoginPwdTips").html("");
        $(".twoTips").html("");
    }
</script>