
@{
    ViewBag.Title = "Versions";
    Layout = "~/Views/Shared/_LayoutPerson.cshtml";
}

<style>
    #versions {
        margin: 250px 0px;
        text-align: center;
    }
</style>

<div class="form-group" id="versions">
    <h3>当前版本</h3>
    <div>
        1.1.100&nbsp;&nbsp;|&nbsp;&nbsp;&copy;copy：三水漓清焰
    </div>
</div>