
@{
    ViewBag.Title = "EpmAdd";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}

@using PersonManagement.Models;
@{ 
    List<Department> dpt = ViewBag.Dpt;
    Employment epm = ViewBag.EpmUser;
}

<style>
    #epmcontent {
        width: 70%;
        height: 500px;
        background-color: ghostwhite;
        margin: 50px 15%;
        box-shadow: 0px 5px 10px grey;
        border-radius: 5px;
        display: block;
    }
    .epmbasic {
        width: 60%;
        height: 500px;
        float: left;
    }
    .epmbasic dl {
        width: 70%;
        height: 440px;
        margin-left: 15%;
        border: 1px solid slateblue;
    }
    .epmbasic dl dt {
        width: 100%;
        height: 60px;
        text-align: center;
        line-height: 60px;
        font-size: 24px;
        color: white;
        background-color: cornflowerblue;
    }
    .epmbasic dl dd {
        width: 90%;
        height: 22px;
        font-size: 16px;
        margin: 12px 5%;
        border-bottom: 1px dashed grey;
    }
    #cra {
        width: 90%;
        height: 30px;
        font-size: 14px;
        margin-top: 12px;
        text-align: left;
        border-bottom: none;
    }
    #cra a {
        color: dodgerblue;
    }
    .gif {
        width: 40%;
        height: 500px;
        float: right;
    }
    .gif img {
        width: 80%;
        height: 200px;
        cursor: pointer;
        margin-top: 100px;
    }
    .nextepm {
        position: absolute;
        top: 450px;
        right: 30%;
    }
    .epmTips{
        width: 100%;
        height: 24px;
        line-height: 24px;
        margin-top: 140px;
    }
    #epm {
        width: 70%;
        height: 800px;
        background-color: ghostwhite;
        margin: 50px 15%;
        box-shadow: 0px 5px 10px grey;
        border-radius: 5px;
        display: none;
    }
    #epm h2 {
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-bottom: 2px solid red;
    }
    #back {
        width: 35%;
        float: left;
        height: 740px;
    }
    #back img{
        width: 35%;
        cursor: pointer;
        position: relative;
        top: 300px;
        left: 30%;
    }
    #form1{
        width: 65%;
        float: right;
        height: 740px;
    }
</style>

<div id="epmcontent">
    <div class="epmbasic">
        <div style="width:100%;height:30px;"></div>
        <dl>
            <dt>应聘要点</dt>
            <dd>1、工作经验不限，年龄16-40。</dd>
            <dd>2、扎实的计算机基础。</dd>
            <dd>3、大专及以上学历，具备英语读写能力者优先。</dd>
            <dd>4、人力、财会或灵活用工行业经验者优先。</dd>
            <dd>5、熟练使用Visual Studio开发工具。</dd>
            <dd>6、良好的学习能力和团队合作精神。</dd>
            <dd>7、具备较好的沟通、理解、表达、逻辑能力。</dd>
            <dd>8、不得多次进行填写应聘信息，违者必究。</dd>
            <dd>
                9、最终所有权归&copy;CatW所有,参考“
                <a href="#">拉勾网</a>”。
                @*拉勾网网址*@
                @*https://www.lagou.com/landing-page/pc/search.html?utm_source=m_cf_cpt_baidu_pcbt*@
            </dd>
            <dd id="cra">
                @if (epm == null)
                {
                    <input type="checkbox" id="cr" name="cr" />
                    <a href="#">SnakePerson服务与协议</a>
                }
                else
                {
                    <a href="#">你已应聘，请多关注通知栏</a>
                }
            </dd>
        </dl>
    </div>
    <div class="gif">
        <img src="~/Content/Images/move.gif" title="欢迎.gif" />
        <button onclick="showepm()" class="nextepm btn btn-info" title="进行填写应聘信息">下一步</button>
        <p class="epmTips">@TempData["epmgo"]</p>
    </div>
</div>

<div id="epm">
    <h2>填写信息</h2>
    <div id="back">
        <img src="~/Content/Images/back.jpg" title="返回到上一步" onclick="closeepm()"/>
    </div>
    <form action="/Employment/EpmAdd" method="post" id="form1">
        <div class="form-inline form-group">
            <label for="Name">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</label>
            <input type="text" name="Name" id="Name" maxlength="8" class="form-control" onfocus="NameFocus()" style="width:40%;" placeholder="请输入你的姓名" />
            <span style="color:red;" class="Name"></span>
        </div>
        <div class="form-inline form-group">
            <label for="Age">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄：</label>
            <input type="number" name="Age" id="Age" min="16" max="50" class="form-control" onfocus="AgeFocus()" style="width:40%;" placeholder="请输入你的年龄" />
            <span style="color:red;" class="Age"></span>
        </div>
        <div class="form-inline form-group">
            <label for="Sex">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</label>
            <select name="Sex" id="Sex" class="form-control" style="width:40%;">
                <option value="男" selected="selected">男</option>
                <option value="女">女</option>
            </select>
        </div>
        <div class="form-inline form-group">
            <label for="Major">专&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业：</label>
            <input type="text" name="Major" id="Major" maxlength="20" class="form-control" onfocus="MajorFocus()" style="width:40%;" placeholder="请输入你的所学专业" />
            <span style="color:red;" class="Major"></span>
        </div>
        <div class="form-inline form-group">
            <label for="Diploma">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历：</label>
            <input type="text" name="Diploma" id="Diploma" maxlength="8" class="form-control" onfocus="DiplomaFocus()" style="width:40%;" placeholder="请输入你的学历" />
            <span style="color:red;" class="Diploma"></span>
        </div>
        <div class="form-inline form-group">
            <label for="WorkExper">工作经验：</label>
            <input type="text" name="WorkExper" id="WorkExper" maxlength="15" class="form-control" onfocus="WorkExperFocus()" style="width:40%;" placeholder="请输入你的工作经验(如:一年编程)" />
            <span style="color:red;" class="WorkExper"></span>
        </div>
        <div class="form-inline form-group">
            <label for="DptID">应聘部门：</label>
            <select name="DptID" id="DptID" class="form-control" style="width:40%;">
                @foreach (var item in dpt)
                {
                    <option value="@item.ID">@item.Name&nbsp;&nbsp;￥:@item.BasicPay</option>
                }
            </select>
            <span style="color:red;" class="DptID"></span>
        </div>
        <div class="form-inline form-group">
            <label for="Native_place">籍&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贯：</label>
            <input type="text" name="Native_place" id="Native_place" maxlength="15" class="form-control" onfocus="Native_placeFocus()" style="width:40%;" placeholder="请输入你的籍贯" />
            <span style="color:red;" class="Native_place"></span>
        </div>
        <div class="form-inline form-group">
            <label for="Address">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</label>
            <input type="text" name="Address" id="Address" maxlength="15" class="form-control" onfocus="AddressFocus()" style="width:40%;" placeholder="请输入你的家庭地址" />
            <span style="color:red;" class="Address"></span>
        </div>
        <div class="form-inline form-group">
            <label for="Phone">手机号码：</label>
            <input type="text" name="Phone" id="Phone" maxlength="11" class="form-control" onfocus="PhoneFocus()" onblur="PhoneBlur()" style="width:40%;" placeholder="请输入你的手机号码" />
            <span style="color:red;" class="Phone"></span>
        </div>
        <div class="form-inline form-group">
            @{ 
                var a = "@";
            }
            <label for="Email">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱：</label>
            <input type="text" name="Email" id="Email" maxlength="20" class="form-control" onfocus="EmailFocus()" style="width:40%;" placeholder="请输入你的邮箱号(手机号+@a 163.com)" />
            <span style="color:red;" class="Email"></span>
        </div>
        <div class="form-inline form-group">
            <label for="IDCard">身份证号：</label>
            <input type="text" name="IDCard" id="IDCard" maxlength="18" class="form-control" onfocus="IDCardFocus()" onblur="IDCardBlur()" style="width:40%;" placeholder="请输入你的身份证号" />
            <span style="color:red;" class="IDCard"></span>
        </div>
        <div class="form-inline form-group">
            <label for="Remark">备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：</label>
            <textarea name="Remark" maxlength="100" id="Remark" class="form-control" onfocus="RemarkFocus()" style="width:40%;height:80px;" placeholder="请输入你的备注"></textarea>
            <span style="color:red;" class="Remark"></span>
        </div>
        <div class="form-inline form-group">
            <input type="submit" onclick="return CheckValid()" value="应&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;聘" class="btn btn-info" style="margin-left:20%;"/>
        </div>
    </form>
</div>

<script type="text/javascript">
    function showepm() {
        var check = document.getElementById("cr");
        if (!check.checked) {
            alert('请勾选服务与协议！');
        } else {
            document.getElementById("epmcontent").style.display = 'none';
            document.getElementById("epm").style.display = 'block';
        }
    }

    function closeepm() {
        document.getElementById("epm").style.display = 'none';
        document.getElementById("epmcontent").style.display = 'block';

        $(".Name").html("");
        $(".Age").html("");
        $(".Major").html("");
        $(".Diploma").html("");
        $(".WorkExper").html("");
        $(".Native_place").html("");
        $(".Address").html("");
        $(".Phone").html("");
        $(".Email").html("");
        $(".IDCard").html("");
        $(".Remark").html("");

        $("#Name").val("");
        $("#Age").val("");
        $("#Major").val("");
        $("#Diploma").val("");
        $("#WorkExper").val("");
        $("#Native_place").val("");
        $("#Address").val("");
        $("#Phone").val("");
        $("#Email").val("");
        $("#IDCard").val("");
        $("#Remark").val("");
    }

    //验证文本是否为空
    function CheckValid() {
        if ($("#Name").val() == "" && $("#Age").val() == "" && $("#Major").val() == "" &&
            $("#Diploma").val() == "" && $("#WorkExper").val() == "" && $("#Native_place").val() == "" &&
            $("#Address").val() == "" && $("#Phone").val() == "" && $("#Email").val() == "" &&
            $("#IDCard").val() == "" && $("#Remark").val() == "" )
        {
            $(".Name").html("请输入你的姓名！");
            $(".Age").html("请输入你的年龄！");
            $(".Major").html("请输入你的所学专业！");
            $(".Diploma").html("请输入你的学历！");
            $(".WorkExper").html("请输入你的工作经验！");
            $(".Native_place").html("请输入你的籍贯！");
            $(".Address").html("请输入你的家庭地址！");
            $(".Phone").html("请输入你的电话号码！");
            $(".Email").html("请输入你的邮箱！");
            $(".IDCard").html("请输入你的身份证号！");
            $(".Remark").html("请输入你的备注！");
            return false;
        } else if ($("#Name").val() == "" || $("#Age").val() == "" || $("#Major").val() == "" ||
            $("#Diploma").val() == "" || $("#WorkExper").val() == "" || $("#Native_place").val() == "" ||
            $("#Address").val() == "" || $("#Phone").val() == "" || $("#Email").val() == "" ||
            $("#IDCard").val() == "" || $("#Remark").val() == "" )
        {
            if ($("#Name").val() == "") {
                $(".Name").html("请输入你的姓名！");
                return false;
            }
            if ($("#Age").val() == "") {
                $(".Age").html("请输入你的年龄！");
                return false;
            }
            if ($("#Major").val() == "") {
                $(".Major").html("请输入你的所学专业！");
                return false;
            }
            if ($("#Diploma").val() == "") {
                $(".Diploma").html("请输入你的学历！");
                return false;
            }
            if ($("#WorkExper").val() == "") {
                $(".WorkExper").html("请输入你的工作经验！");
                return false;
            }
            if ($("#Native_place").val() == "") {
                $(".Native_place").html("请输入你的籍贯！");
                return false;
            }
            if ($("#Address").val() == "") {
                $(".Address").html("请输入你的家庭地址！");
                return false;
            }
            if ($("#Phone").val() == "") {
                $(".Phone").html("请输入你的电话号码！");
                return false;
            }
            if ($("#Email").val() == "") {
                $(".Email").html("请输入你的邮箱！");
                return false;
            }
            if ($("#IDCard").val() == "") {
                $(".IDCard").html("请输入你的身份证号！");
                return false;
            }
            if ($("#Remark").val() == "") {
                $(".Remark").html("请输入你的备注！");
                return false;
            }
        } else {
            return true;
        }
    }

    //去掉提示文本
    function NameFocus() { $(".Name").html(""); }
    function AgeFocus() { $(".Age").html(""); }
    function MajorFocus() { $(".Major").html(""); }
    function DiplomaFocus() { $(".Diploma").html(""); }
    function WorkExperFocus() { $(".WorkExper").html(""); }
    function Native_placeFocus() { $(".Native_place").html(""); }
    function AddressFocus() { $(".Address").html(""); }
    function PhoneFocus() { $(".Phone").html(""); }
    function EmailFocus() { $(".Email").html(""); }
    function IDCardFocus() { $(".IDCard").html(""); }
    function RemarkFocus() { $(".Remark").html(""); }

    //正则表达式验证
    function PhoneBlur() {
        var phone = /^1[3456789]\d{9}$/;
        if ($("#Phone").val() == "") {
            $(".Phone").html("");
        } else if (!phone.test($("#Phone").val())) {
            $(".Phone").html("电话号码格式错误！");
        } else {
            $(".Phone").html("");
        }
    }

    function IDCardBlur() {
        var email = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
        if ($("#IDCard").val() == "") {
            $(".IDCard").html("");
        } else if (!email.test($("#IDCard").val())) {
            $(".IDCard").html("身份证号格式错误！");
        } else {
            $(".IDCard").html("");
        }
    }
</script>